*{
    padding:0px;
    margin:0px;
}


#title{
    text-align: center;
    
}

#description{
    text-align: center;
}

#survey-form{
    margin: auto;
    padding: 20px;
    background-color: blue;
    width: 400px;
    height: 600px;
}

.input-box {
    width: 100%;
}